<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sobre</title>
  <link href="../static/styles/about.css" rel="stylesheet" th:href="@{/styles/about.css}" >
  <link href="../static/styles/header.css" rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<body>
  <header>
    <nav>
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="/about">SOBRE</a></li>
        </ul>
    </nav>
  </header>
  <main>
    <h1>Sobre o BOT</h1>
    <div>
      <p>Hello, it's me</p>
    </div>
  </main>
  <footer></footer>
</body>
</html>
