<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retorno Bot</title>
    <link href="../static/styles/home.css" rel="stylesheet" th:href="@{/styles/home.css}" >
    <link href="../static/styles/header.css" rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="/about">SOBRE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Enviado</h1>
        <div>
            <p>Concluido</p>
        </div>
    </main>
    <footer></footer>
</body>
</html>
