main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 10px;
    align-items: center;
}
main form button {
    margin-top: 10px;
    width: 100%;
}

ul {
    list-style: none;
}

main #table-box {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

main #table-box li:nth-child(1) {
    width: 22.7%;
}
main #table-box li:nth-child(2) {
    width: 22.7%;
}
main #table-box li:nth-child(3) {
    width: 16.9%;
}
main #table-box li:nth-child(4) {
    width: 18.2%;
}
main #table-box li:nth-child(5) {
    width: 9%;
}
main #table-box li:nth-child(6) {
    width: 10.5%;
}

main #table li:nth-child(1) {
    width: 30%;
}
main #table li:nth-child(2) {
    width: 30%;
}
main #table li:nth-child(3) {
    width: 22.1%;
}
main #table li:nth-child(4) {
    width: 24%;
}
main #table li input {
    padding: 0px 10px;
}
